body {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0px;
    padding: 0px;
}

button {
    font-size: 25px;
    border: 1px solid grey;
    border-radius: 50%;
}

#equals {
    grid-column-start: span 2;
    border-radius: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    gap: 10px;
    height: 50px;
    width: 400px;
    margin: 10px;
}

#display {
    font-size: 50px;
    text-align: right;
    padding: 5px;
    width: 350px;
    margin-left: 5px;
    word-wrap: break-word;
    border: 1px solid grey;
    min-height: 70px;
    border-radius: 1em;
}