button {
    font-size: 20px;
}

.grid {
    display: grid;
    max-width: 150px;
}

#display {
    padding: 5px;
    word-wrap: break-word;
    border: 1px solid grey;
    height: 80px;
    width: 150px;
    margin: 10px;
}